@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.layout{
    font-family: 'LINESeedKR-Bd';
}
table{
    border: 2 solid black;
    padding: 10px;
    width: 70%;
    background-color:beige ;
}
td{
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
